<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast position="bottom-right"></p-toast>
            <div class="flex flex-wrap align-items-center justify-content-center card-container">
                <h5 class="text-center text-3xl">TRATAMIENTO DE INFORMACIÓN - DOCUMENTO </h5>
            </div>
            <p-tabMenu [model]="items"  [scrollable]="true" [activeItem]="items[3]"></p-tabMenu>
            <p-toolbar styleClass="mb-4 mt-3">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="newInsumo()" ></button>
                        
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt  [value]="insumos" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="10"
                [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                 selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Administrar insumos</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" > 
                    <tr>
                        <th pSortableColumn="id">Calificación <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="id">Nombre<p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="id">Cantidad <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="id">Situación <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="documento_prioridad">Intervenido por<p-sortIcon field="documento_prioridad"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-insumo>
                    <tr>
                       
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">FECHA OBTENCION INF.</span>
                            {{replaceValuesCalificacion(insumo.insumo_calificacion_id)}}
                            
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">PREGUNTAS</span>
                            {{insumo.nombre}}
                            
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">FECHA OBTENCION INF.</span>
                            
                            {{insumo.cantidad}}
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">PREGUNTAS</span>
                            {{replaceValuesSituacion(insumo.insumo_situacion_id)}}
                            
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">FECHA OBTENCION INF.</span>
                            {{replaceValuesIntervenido(insumo.insumo_intervenido_id)}}
                            
                        </td>
                        
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2" (click)="editInsumo(insumo)"></button> 
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteInsumo(insumo.id)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <p-dialog [(visible)]="insumoDialog" 
        [style]="{width: '450px'}" 
        header="{{editInsumoOption ? 'Editar Insumo' : 'Detalle del Insumo' }} "
         [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                
                <div class="field">
                    <label for="name">Calificación</label>
                    <p-dropdown id="status" [options]="calificacion" optionLabel="descripcion"  placeholder="Seleccione una calificación" optionValue="id"  [(ngModel)]="insumo.insumo_calificacion_id">
                    </p-dropdown>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="nombre">Nombre</label>
                        <input type="text" pInputText id="name" [(ngModel)]="insumo.nombre" />    
                    </div>
                    <div class="field col">
                        <label for="nombre">Cantidad</label>
                        <input type="text" pInputText id="name" [(ngModel)]="insumo.cantidad" />   
                    </div>
                </div>
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="name">Situación</label>
                        <p-dropdown id="status" appendTo="body" [options]="situacion" optionLabel="descripcion" placeholder="Seleccione una situación" optionValue="id" [(ngModel)]="insumo.insumo_situacion_id">
                        </p-dropdown>   
                    </div>
                    <div class="field col">
                        <label for="nombre">Intervención</label>
                        <p-dropdown id="status" appendTo="body" [options]="intervencion" optionLabel="descripcion"  placeholder="Seleccione tipo de intervención" optionValue="id" [(ngModel)]="insumo.insumo_intervenido_id">
                        </p-dropdown>   
                    </div>
                </div>
              
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
            </ng-template>
        </p-dialog>
        <p-dialog [(visible)]="deleteInsumoDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>¿Deseas eliminar el insumo seleccionado?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteInsumoDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="confirDeleteInsumo()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>