<div class="grid">
    <div class="col-12">
        <div class="card">
            <h5>Filtros</h5>
            <p-fieldset legend="Filtros" >
                <ng-template pTemplate="content">
                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="inicicios" class="mr-3">Inicio</label>
                            <p-calendar [showIcon]="true" inputId="icon" appendTo="body"></p-calendar>
                        </div>
                        <div class="field col" >
                            <label for="name" class="mr-3">Fin</label>
                            <p-calendar [showIcon]="true" inputId="icon" appendTo="body"></p-calendar>
                        </div>
                    </div>
                </ng-template>
            </p-fieldset>

            <p-toolbar styleClass="mb-4 mt-3">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="newDocAngente()" ></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"></button>
                    </div>
                </ng-template>

                <ng-template pTemplate="right">
                    <p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import"
                        chooseLabel="Import" class="mr-2 inline-block"></p-fileUpload>
                    <button pButton pRipple label="Export" icon="pi pi-upload" class="p-button-help"></button>
                </ng-template>
            </p-toolbar>


            <p-table #dt   responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="10"
                [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                 selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Administrar Documentos</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" > 
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th pSortableColumn="numero">N° <p-sortIcon field="numero"></p-sortIcon></th>
                        <th pSortableColumn="tipoDocumento">Ampliaciones <p-sortIcon field="tipoDocumento"></p-sortIcon></th>
                        <th pSortableColumn="nombre">Acciones <p-sortIcon field="nombre"></p-sortIcon></th>
                        <th pSortableColumn="primerApellido">Codigo <p-sortIcon field="primerApellido"></p-sortIcon></th>
                        <th pSortableColumn="segundoApellido">Tipo <p-sortIcon field="segundoApellido"></p-sortIcon></th>
                        <th pSortableColumn="documento">Asunto <p-sortIcon field="documento"></p-sortIcon></th>
                        <th pSortableColumn="documento">Prioridad  <p-sortIcon field="documento"></p-sortIcon></th>
                        <th pSortableColumn="documento">Fuente/veracidad  <p-sortIcon field="documento"></p-sortIcon></th>
                        <th pSortableColumn="documento">Clasificacion  <p-sortIcon field="documento"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-person>
                    <tr>
                        <td>
                            <p-tableCheckbox ></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Documento</span>
                            
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Nombre</span>
                            
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">P .Apellido</span>
                            
                        </td>
                        <td style="width:14%; min-width:8rem;">
                            <span class="p-column-title">S .Apellido</span>
                            
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">Nro Documento </span>
                            
                        </td>
                        <td style="width:14%; min-width: 10rem;">
                            <span class="p-column-title">Status</span>
                            
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog [(visible)]="docEnviadoDialog" [style]="{width: '700px'}" header="Detalles del documento" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">

                <p-tabView  [(activeIndex)]="index">
                   <p-tabPanel header = "Datos del documento">
                    <div class="field">
                        <labe> Asunto</labe>
                        <textarea type="text" pInputText [(ngModel)]="docEnviado.asunto"></textarea>
                    </div>
                    <div class="field">
                        <labe> Prioridad</labe>
                        <p-dropdown [options]="documento_prioridad" optionLabel="name"></p-dropdown>
                    </div>
                    <div class="field">
                        <labe> Clasificación</labe>
                        <p-dropdown [options]="documento_clasificacion_id" optionLabel="name"></p-dropdown>
                    </div>
                    <div class="field">
                        <labe> Fecha de obtención inf.</labe>
                        <input type="date" pInputText id="name"   />
                    </div>
                    <div _ngcontent-lys-c169="" class="field">
                        <labe> Personas</labe>
                        <span _ngcontent-lys-c169="" class="p-input-icon-right">
                            <input _ngcontent-lys-c169="" type="text" [(ngModel)]="docEnviado.documento_persona" pinputtext="" placeholder="Buscar por alias" class="p-inputtext p-component p-element">
                            <i _ngcontent-lys-c169="" class="pi pi-search"></i>
                        </span>     </div>
                    <div class="field">
                        <labe> ¿Que, Quien, Cuando, Como?</labe>
                        <textarea type="text" pInputText></textarea>
                    </div>

                   </p-tabPanel>
                   <p-tabPanel header = "Archivos ajuntos" >
                        <p-fileUpload name="myfile[]" url="./upload.php" multiple="multiple" accept="application/pdf"></p-fileUpload>

                    </p-tabPanel>
                    <p-tabPanel header = "Previsualización">
                        <div class="card">
                            <p-fieldset legend="Datos del documento" >
                                <ng-template pTemplate="content">
                                    <div class="formgrid grid">
                                        <div class="field col">
                                            <div class="field">
                                                <labe> Origen:</labe>
                                            </div>
                                            <div class="field">
                                                <labe> Tipo de documento:</labe>
                                            </div>
                                            <div class="field">
                                                <labe> Número:</labe>
                                            </div>
                                            <div class="field">
                                                <labe> Siglas:</labe>
                                            </div>
                                            <div class="field">
                                                <labe> Prioridad:</labe>
                                            </div>
                                            <div class="field">
                                                <labe> Fecha de recepción:</labe>
                                            </div>
                                            <div class="field">
                                                <labe> Resumen hecho:</labe>
                                            </div>
                                        </div>
                                        <div class="field col" >
                                            <div class="field">
                                                <labe> Procedencia:</labe>
                                            </div>
                                            <div class="field">
                                                <labe> Denominación:</labe>
                                            </div>
                                            <div class="field">
                                                <labe> Año:</labe>
                                            </div>
                                            <div class="field">
                                                <labe> Clasificación:</labe>
                                            </div>
                                            <div class="field">
                                                <labe> Días plazo de atención:</labe>
                                            </div>
                                            <div class="field">
                                                <labe> Número de folio:</labe>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-fieldset>
                        </div>
                        <div class="card">
                            <p-fieldset legend="Documentos adjuntos" >
                                <ng-template pTemplate="content">
                                        <div class="field col">    
                                        </div>
                                </ng-template>
                            </p-fieldset>
                        </div>
                        <div class="card">
                            <p-fieldset legend="Georeferenciación del hecho" >
                                <ng-template pTemplate="content">
                                    <div class="formgrid grid">
                                        <div class="field col">
                                            <div class="field">
                                                <labe> Departamento:</labe>
                                            </div>
                                            <div class="field">
                                                <labe> Distrito:</labe>
                                            </div>
                                            <div class="field">
                                                <labe> Tipo de la zona:</labe>
                                            </div>
                                            <div class="field">
                                                <labe> Tipo vía:</labe>
                                            </div>
                                            <div class="field">
                                                <labe> Número:</labe>
                                            </div>
                                            <div class="field">
                                                <labe> Manzana:</labe>
                                            </div>
                                            <div class="field">
                                                <labe> N° Departamento:</labe>
                                            </div>
                                            <div class="field">
                                                <labe> Longitud:</labe>
                                            </div>
                                            <div class="field">
                                                <labe> Referencia:</labe>
                                            </div>
                                        </div>
                                        <div class="field col" >
                                            <div class="field">
                                                <labe> Provincia:</labe>
                                            </div>
                                            <div class="field">
                                                <labe> Centro poblado:</labe>
                                            </div>
                                            <div class="field">
                                                <labe> Nombre de la zona:</labe>
                                            </div>
                                            <div class="field">
                                                <labe> Nombre vía:</labe>
                                            </div>
                                            <div class="field">
                                                <labe> Kilometro:</labe>
                                            </div>
                                            <div class="field">
                                                <labe> Lote:</labe>
                                            </div>
                                            <div class="field">
                                                <labe> Interior:</labe>
                                            </div>
                                            <div class="field">
                                                <labe> Latitud:</labe>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-fieldset>
                        </div>
                    </p-tabPanel>
                </p-tabView>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>