<div class="grid">
    <div class="col-12">
        <p-toast position="bottom-right"></p-toast>
        <div class="card">
            <p-toast position="bottom-right"></p-toast>

            <div class="flex flex-wrap align-items-center justify-content-center card-container">
                <h5 class="text-center text-3xl">DOCUMENTO INTELIGENCIA - RECIBIDO </h5>
            </div>
            <p-fieldset legend="Documeto de inteligencia" >
                <ng-template pTemplate="content">
                    <div class="formgrid grid">
                        <div class="field col">
                            <div class="field">
                                <b> Codigo:</b>
                                <p>{{documento.codigo}}</p>
                            </div>
                            <div class="field">
                                <b> Asunto:</b>
                                <p>{{documento.asunto}}</p>
                            </div>
                            <div class="field">
                                <b> Fecha de obtencion de informacion:</b>
                                <p>{{documento.obtencionInformacion}}</p>
                            </div>
                            <div class="field">
                                <b> Personas:</b>
                            </div>
                            <div class="field">
                                <b> Descripción:</b>
                                <p>{{documento.descripcion}}</p>
                            </div>

                        </div>
                        <div class="field col" >
                            <div class="field">
                                <b> Prioridad:</b>
                                <p>{{documento.documento_prioridad_id}}</p>
                                <p>{{replaceValuesPrioridad(documento.documento_prioridad_id)}}</p>
                                
                            </div>
                            <div class="field">
                                <b> Clasificación:</b>
                                <p>{{replaceValuesClasificacion(documento.documento_clasificacion_id)}}</p>
                            </div>
                        </div>
                    </div>
                        <div class="field col">

                            <a [routerLink]="['/analista/docRecib/analisis', documento.id]" pButton type="button" label="Tratamiento de información" class=" mr-2 p-button-warning"></a>
                            <a [routerLink]="['/analista/pedidoInf', documento.id, 1]" pButton type="button" label="Pedido de información" class=" mr-2 p-button-warning"></a>
                            <a pButton type="button" label="Archivar documento " class=" mr-2 p-button-warning" (click)="sendToStore()"></a>
                            <a [routerLink]="['/vincularc', documento.id]" pButton type="button" label="Vincular a una carpeta" class=" mr-2 p-button-warning"></a>
                            


                        </div>


                </ng-template>
            </p-fieldset>
        </div>


    </div>
</div>
