
<div class="layout-dashboard">
  <div class="grid">
    <div class="col-6 lg:col-4">
      <div class="user-card card">
        <div class="user-card-header">
          <img src="assets/layout/images/dashboard/bg-header.png" alt="babylon-layout" class="profile-image" />
        </div>
        <div class="user-card-content">
          <div class="user-card-name">
            <span>Modulo de agente</span>
          </div>
          
          <div class="user-detail p-2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aliquam facilis culpa nam consectetur doloremque, explicabo, earum vero sed inventore libero. Aut veniam consectetur fuga in, voluptatem vero deleniti enim.</p>
            <button pButton id="user-button" [routerLink]="['/agente/docsEnv']" type="button" icon="pi pi-sign-in" class="secondary-btn" ></button>
          </div>
        </div>
      </div>

      

      
    </div>
    <div class="col-6 lg:col-4">
      <div class="user-card card">
        <div class="user-card-header">
          <img src="assets/layout/images/dashboard/bg-header.png" alt="babylon-layout" class="profile-image" />
        </div>
        <div class="user-card-content">
          <div class="user-card-name">
            <span>Modulo de analista</span>
          </div>
          
          <div class="user-detail p-2">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo aliquam facilis culpa nam consectetur doloremque, explicabo, earum vero sed inventore libero. Aut veniam consectetur fuga in, voluptatem vero deleniti enim.</p>
            <button pButton id="user-button" [routerLink]="['/carpeta/carpeEnv']" type="button" icon="pi pi-sign-in" class="secondary-btn" ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
