
<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="flex flex-wrap align-items-center justify-content-center card-container">
                <h5 class="text-center text-3xl">VINCULAR A UNA CARPETA</h5>
            </div>
           
            <br />
            <p-fieldset legend="Filtros" >
                <ng-template pTemplate="content">
                    <div class="formgrid grid">
                        <div class="field col">
                            <label for="inicicios" class="mr-3">Inicio</label>
                            <p-calendar [showIcon]="true" inputId="icon" appendTo="body"></p-calendar>
                        </div>
                        <div class="field col" >
                            <label for="name" class="mr-3">Fin</label>
                            <p-calendar [showIcon]="true" inputId="icon" appendTo="body"></p-calendar>
                        </div>
                    </div>
                </ng-template>
            </p-fieldset>
            <br/>
            <p-table #dt [value]="carpetas"  responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="10"
                [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                 selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Administrar carpetas</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" > 
                    <tr>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th carpetatableColumn="id">Nº CARP.INT <p-sortIcon field="id"></p-sortIcon></th>
                        <th carpetatableColumn="alias">NOMBRE DE CARPETA INTELIGENCIA(ALIAS)  <p-sortIcon field="alias"></p-sortIcon></th>
                        <th carpetatableColumn="documento">FECHA <p-sortIcon field="documento"></p-sortIcon></th>
                        <th carpetatableColumn="hora">HORA <p-sortIcon field="hora"></p-sortIcon></th>
                        
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-carpeta>
                    <tr>
                        <td>
                            <p-tableCheckbox ></p-tableCheckbox>
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Nº CARP.INT</span>
                            {{carpeta.id}}
                        </td>
                        <td style="width:14%; min-width:10rem;">
                            <span class="p-column-title">NOMBRE DE CARPETA INTELIGENCIA(ALIAS) </span>
                            {{carpeta.nombre}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">FECHA</span>
                            {{carpeta.fecha}}
                        </td>
                        <td style="width:14%; min-width:8rem;"><span class="p-column-title">HORA</span>
                            {{carpeta.hora}}
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-fieldset legend="Acciones" >
            <ng-template pTemplate="content">
                <div class="formgrid grid">
                    <div class="field col">
                        <button pButton pRipple label="ENVIAR"  class="p-button-success mr-2" ></button>
                    </div>
                    
                </div>
            </ng-template>
        </p-fieldset>
        
    </div>
</div>