<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="flex flex-wrap align-items-center justify-content-center card-container">
                <h5 class="text-center text-3xl">TRATAMIENTO DE INFORMACIÓN - DOCUMENTO </h5>
            </div>
            <p-tabMenu [model]="items"  [scrollable]="true" [activeItem]="items[7]"></p-tabMenu>
            <p-toolbar styleClass="mb-4 mt-3">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2"  (click)="newTelefono()"></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="telefonos" responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="10"
                [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                 selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Administrar telefonos</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" > 
                    <tr>
                        <th pSortableColumn="id">Proveedor <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="id">Propietario<p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="id">Poseseion <p-sortIcon field="id"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-telefono>
                    <tr>
                       
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Proveedor</span>
                            {{telefono.persona_proveedor_id}}
                            
                            
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">Propietario</span>
                            
                            {{telefono.persona_propietario_id}}
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">posesion</span>
                            {{telefono.persona_posesion_id}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"  (click)="editTelefono(telefono)"></button>  
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteTelefono(telefono.id)" ></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <p-dialog 
        [(visible)]="telefonoDialog" 
        [style]="{width: '450px'}" 
        header="{{ editITelefonoOption ? 'Editar Telefono' : 'Detalle del telefono' }}"
        class="p-fluid">
            <ng-template pTemplate="content">
                
                <div class="field">
                    <label for="name">Proveedor</label>
                    <p-dropdown id="status" [options]="proveedores" optionLabel="descripcion" optionValue="id" placeholder="Seleccione un proveedor" [(ngModel)]="telefono.persona_proveedor_id" >
                    </p-dropdown>
                </div>
                <div class="field">
                    <label for="name">Propietario</label>
                    <input type="text" pInputText id="name" [(ngModel)]="telefono.persona_propietario_id"/>    
                </div>
                <div class="field">
                    <label for="name">Propietario</label>
                    <input type="text" pInputText id="name" [(ngModel)]="telefono.persona_posesion_id"/>    
                </div>
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text"  (click)="save()"></button>
            </ng-template>
        </p-dialog>
        
        <p-dialog [(visible)]="deleteTelefonoDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>¿Deseas eliminar el telefono seleccionado?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteTelefonoDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="confirmDeleteTelefono()"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>