<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast position="bottom-right"></p-toast>
            <div class="flex flex-wrap align-items-center justify-content-center card-container">
                <h5 class="text-center text-3xl">TRATAMIENTO DE INFORMACIÓN - DOCUMENTO </h5>
            </div>
            <p-tabMenu [model]="items"  [scrollable]="true" [activeItem]="items[6]"></p-tabMenu>
            <p-toolbar styleClass="mb-4 mt-3">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="newModalidad()" ></button>
                        
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="modalidades"  responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="10"
                [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                 selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Administrar modalidades</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" > 
                    <tr>
                        <th pSortableColumn="id">Tipo <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="id">Modalidad<p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="id">Descripción <p-sortIcon field="id"></p-sortIcon></th>
                        
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-modalidad>
                    <tr>
                       
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">FECHA OBTENCION INF.</span>
                            {{replaceValuesModalidad(modalidad.modalidad_tipo_id)}}
                            
                            
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">FECHA OBTENCION INF.</span>
                            
                            {{replaceValuesTipo(modalidad.modalidad_empleada_id)}}
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">PREGUNTAS</span>
                            {{modalidad.descripcion}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2" (click)="editModalidad(modalidad)" ></button> 
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteModalidad(modalidad.id)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <p-dialog 
        [(visible)]="modalidadDialog" 
        [style]="{width: '450px'}" 
        header="{{ editModalidadOption ? 'Editar modalidad':'Detalle la modalidad'}}" 
        [modal]="true" 
        class="p-fluid">
            <ng-template pTemplate="content">
                
                <div class="field">
                    <label for="name">Tipo</label>
                    <p-dropdown id="status" [options]="modalidadesForm" optionLabel="descripcion"  placeholder="Seleccione un tipo" optionValue="id" [(ngModel)]="modalidad.modalidad_tipo_id">
                    </p-dropdown>
                </div>
                <div class="field">
                    <label for="name">Modalidad</label>
                    <p-dropdown id="status"  [options]="tipoModalidad" optionLabel="descripcion" placeholder="Seleccione una modalidad" optionValue="id" [(ngModel)]="modalidad.modalidad_empleada_id">
                    </p-dropdown>
                </div>
                <div class="field">
                    <label for="description">Description</label>
                    <textarea id="description" pInputTextarea  rows="3" cols="20" modalidad_empleada_id [(ngModel)]="modalidad.descripcion"></textarea>
                </div>
                
               


              
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()" ></button>
            </ng-template>
        </p-dialog>

        <p-dialog [(visible)]="deleteModalidadDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>¿Deseas eliminar  la modalidad seleccionada?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteModalidadDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="confirmDeleteModalidad()"></button>
            </ng-template>
        </p-dialog>

    </div>
</div>