<div class="grid">
    <div class="col-12">
        <div class="card">
            <div class="flex flex-wrap align-items-center justify-content-center card-container">
                <h5 class="text-center text-3xl">TRATAMIENTO DE INFORMACIÓN - DOCUMENTO </h5>
            </div>
            <p-tabMenu [model]="items"  [scrollable]="true" [activeItem]="items[1]"></p-tabMenu>
            
            <p-toolbar styleClass="mb-4 mt-3">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="newInmueble()" ></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="inmuebles"  responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="10"
                [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                 selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Administrar inmuebles</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" > 
                    <tr>
                        <th pSortableColumn="id">Tipo <p-sortIcon field=""></p-sortIcon></th>
                        <th pSortableColumn="id">Zona<p-sortIcon field=""></p-sortIcon></th>
                        <th pSortableColumn="id">Dirección<p-sortIcon field=""></p-sortIcon></th>
                        <th pSortableColumn="id">Propietario<p-sortIcon field=""></p-sortIcon></th>
                        <th pSortableColumn="id">Posesión<p-sortIcon field=""></p-sortIcon></th>
                        <th pSortableColumn="documento_prioridad">Numero partida registral<p-sortIcon field="documento_prioridad"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-inmueble>
                    <tr>
                       
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">FECHA OBTENCION INF.</span>
                            {{replaceValuesTipo(inmueble.inmueble_tipo_id)}}
                            
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">PREGUNTAS</span>
                            {{replaceValuesZona(1)}}
                            
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">FECHA OBTENCION INF.</span>
                            {{inmueble.direccion}}
                            
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">PREGUNTAS</span>
                            
                            {{inmueble.persona_propietario_id}}
                        </td>
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">FECHA OBTENCION INF.</span>
                            {{inmueble.persona_posesion_id}}
                            
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">PREGUNTAS</span>
                            {{inmueble.partidaRegistral}}
                            
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="delete(documento.id)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>


        <p-dialog [(visible)]="inmuebleDialog" [style]="{width: '450px'}" header="Detalle del inmueble" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                <div class="formgrid grid">
                    <div class="field col">
                        <label for="name">Tipo de inmueble</label>
                        <p-dropdown id="status"  [options]="tipoInmueble" optionLabel="descripcion"  placeholder="Seleccione tipo" optionValue="id" [(ngModel)]="inmueble.inmueble_tipo_id">
                        </p-dropdown>
                    </div>
                    <div class="field col">
                        <label for="name">Zona</label>
                        <p-dropdown id="status"  [options]="zonaInmueble" optionLabel="descripcion" placeholder="Seleccione tipo"  optionValue="id">
                        </p-dropdown>
                    </div>
                </div>
                <div class="field ">
                    <label for="nombre">Dirección</label>
                    <input type="text" pInputText id="name"  [(ngModel)]="inmueble.direccion"/>   
                </div>
                <div class="field ">
                    <label for="nombre">Propietario</label>
                    <input type="text" pInputText id="name" [(ngModel)]="inmueble.persona_propietario_id" />   
                </div>
                <div class="field ">
                    <label for="nombre">Posesión</label>
                    <input type="text" pInputText id="name"  [(ngModel)]="inmueble.persona_posesion_id"/>   
                </div>
                <div class="field ">
                    <label for="nombre">Nro de partida registral</label>
                    <input type="text" pInputText id="name"  [(ngModel)]="inmueble.partidaRegistral"/>   
                </div>           
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()" ></button>
            </ng-template>
        </p-dialog>

    </div>
</div>