<div class="layout-topbar">

    <a href="#" class="layout-topbar-logo">
        <img id="layout-topbar-logo" src="assets/layout/images/logo.png" alt="babylon-layout"/>
    </a>

    <a class="layout-menu-button" href="#" (click)="appMain.onMenuButtonClick($event)">
        <i class="pi pi-bars"></i>
    </a>

    <a id="topbar-menu-button" href="#" (click)="appMain.onTopbarMenuButtonClick($event)">
        <i class="pi pi-ellipsis-v"></i>
    </a>

    <ul class="topbar-menu fadeInDown" [ngClass]="{'topbar-menu-visible': appMain.topbarMenuActive}">
        <li #profile class="user-profile" *ngIf="app.profileMode==='popup'||appMain.isHorizontal()"
            [ngClass]="{'active-topmenuitem':appMain.activeTopbarItem === profile}">

            <!--<a href="#" (click)="appMain.onTopbarItemClick($event,profile)">
                <img alt="babylon-layout" src="assets/layout/images/avatar.png"/>
                <span class="topbar-item-name">Arlene Welch</span>
            </a>
        -->


        </li>

        
    </ul>
</div>
