<div class="grid">
    <div class="col-12">
        <div class="card">
            <p-toast position="bottom-right"></p-toast>
            <div class="flex flex-wrap align-items-center justify-content-center card-container">
                <h5 class="text-center text-3xl">TRATAMIENTO DE INFORMACIÓN - DOCUMENTO </h5>
            </div>
            <p-tabMenu [model]="items"  [scrollable]="true" [activeItem]="items[5]"></p-tabMenu>
            
            <p-toolbar styleClass="mb-4 mt-3">
                <ng-template pTemplate="left">
                    <div class="my-2">
                        <button pButton pRipple label="New" icon="pi pi-plus" class="p-button-success mr-2" (click)="newCuenta()" ></button>
                        <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger"></button>
                    </div>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="cuentas"  responsiveLayout="scroll" [rows]="10"
                [globalFilterFields]="['name','country.name','representative.name','status']" [rows]="10"
                [paginator]="true" [rowsPerPageOptions]="[10,20,30]" [showCurrentPageReport]="true"
                currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
                 selectionMode="multiple" [rowHover]="true" dataKey="id">
                <ng-template pTemplate="caption">
                    <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
                        <h5 class="m-0">Administrar cuentas bancarias</h5>
                        <span class="block mt-2 md:mt-0 p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText type="text" (input)="dt.filterGlobal($event.target.value, 'contains')"
                                placeholder="Search..." />
                        </span>
                    </div>
                </ng-template>
                <ng-template pTemplate="header" > 
                    <tr>
                        <th pSortableColumn="id">Nro de cuenta <p-sortIcon field="id"></p-sortIcon></th>
                        <th pSortableColumn="documento_prioridad">Banco<p-sortIcon field="documento_prioridad"></p-sortIcon></th>
                        <th></th>
                    </tr>
                </ng-template>
                <ng-template  pTemplate="body" let-cuenta>
                    <tr>
                       
                        <td style="width:14%; min-width:10rem;"><span class="p-column-title">FECHA OBTENCION INF.</span>
                            {{cuenta.numeroCuenta}}
                            
                        </td>
                        <td style="width:14%; min-width: 10rem;"><span class="p-column-title">PREGUNTAS</span>
                            {{cuenta.banco}}
                        </td>
                        <td>
                            <div class="flex">
                                <button pButton pRipple icon="pi pi-pencil"
                                    class="p-button-rounded p-button-success mr-2" (click)="editCuenta(cuenta)"></button>
                                <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteCuenta(cuenta.id)"></button>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>

        <p-dialog 
        [(visible)]="cuentaDialog" 
        [style]="{width: '450px'}" 
        header="{{ editCuentaOption ? 'Editar cuenta bancaria' : 'Detalle de cuenta bancaria'}}" [modal]="true" class="p-fluid">
            <ng-template pTemplate="content">
                
                
            
                <div class="field ">
                    <label for="nombre">Número de cuenta</label>
                    <input type="text" pInputText id="name"  [(ngModel)]="cuenta.numeroCuenta" />    
                </div>
                <div class="field ">
                    <label for="nombre">Entidad bancaria</label>
                    <input type="text" pInputText id="name"  [(ngModel)]="cuenta.banco"/>    
                </div>
                
            </ng-template>

            <ng-template pTemplate="footer">
                <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
                <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
            </ng-template>
        </p-dialog>
        <p-dialog [(visible)]="deleteCuentaDialog" header="Confirmar" [modal]="true" [style]="{width:'450px'}">
            <div class="flex align-items-center justify-content-center">
                <i class="pi pi-exclamation-triangle mr-3" style="font-size: 2rem"></i>
                <span>¿Deseas eliminar la cuenta seleccionada?</span>
            </div>
            <ng-template pTemplate="footer">
                <button pButton pRipple icon="pi pi-times" class="p-button-text" label="No" (click)="deleteCuentaDialog = false"></button>
                <button pButton pRipple icon="pi pi-check" class="p-button-text" label="Si" (click)="confirmDeleteCuenta()"></button>
            </ng-template>
        </p-dialog>
    </div>
</div>