$primaryColor: #357b38;
$primaryTextColor:#ffffff;

$logoBgColor:#42A5F5;
$topbarBgColor:#357b38;
$topbarIconColor:#ffffff;
$topbarIconHoverBgColor:#64b5f6;
$lightMenuitemActiveTextColor:#357b38;
$darkMenuitemActiveTextColor:#357b38;
$horizontalMenuitemActiveBgColor:#357b38;
$horizontalMenuitemActiveTextColor:#ffffff;
$badgeBgColor:#357b38;
$badgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
