$primaryColor: #03A9F4;
$primaryTextColor:#ffffff;

$logoBgColor:#29B6F6;
$topbarBgColor:#03A9F4;
$topbarIconColor:#ffffff;
$topbarIconHoverBgColor:#4FC3F7;
$lightMenuitemActiveTextColor:#357b38;
$darkMenuitemActiveTextColor:#357b38;
$horizontalMenuitemActiveBgColor:#357b38;
$horizontalMenuitemActiveTextColor:#ffffff;
$badgeBgColor:#03A9F4;
$badgeTextColor:#ffffff;

@import '../../sass/layout/_layout';
